@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700&display=swap');

* {margin: 0; padding: 0;}
body {
    font-family: "Comfortaa";
    font-weight: 400;
}
hr {
    margin: 16px 0;
    border-top: 1px solid #EEE1E3;
}
input, select {
    border: 1px solid #EEE1E3;
    border-radius: 0 32px 32px 0;
    width: max-content;
    padding: 0 8px;
    font-family: "Comfortaa";
    font-weight: 400;
}
input:focus, select:focus, textarea:focus {
    outline: none;
}
input.button-round {
    border: 0;
}



/* ---------- BUTTONS ---------- */
.button-round, #button-round {
    width: auto;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 32px;
    text-decoration: none;
    transition: 0.25s;
}
.button-round:hover, #button-round:hover {
    cursor: pointer;
    border-radius: 8px;
}

.message {
    width: max-content;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 32px;
    text-decoration: none;
    transition: 0.25s;
    margin: 0px 8px 0 0;
    white-space: nowrap;
}
.message_success {
    background: #cce7cd;
    color: #1a551d;
    font-weight: 700;
}
.message_warning {
    background: #FFD9E1;
    color: #551a1a;
    font-weight: 700;
}
.no-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* ---------- MAIN ---------- */
.header {
    max-width: 1280px;
    margin: 0 auto;
    padding: 12px 32px;
    margin-bottom: 16px;
    
    display: flex;
    flex-direction: column;
    border-radius: 0 0 32px 32px;
    background: #FEFAF9;
    border: 1px solid #EEE1E3;
}

main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    margin-bottom: 128px;
}

.container {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    padding: 16px 24px 12px 24px;
    border-radius: 24px;
    background: #FEFAF9;
    border: 1px solid #EEE1E3;
    margin-bottom: 16px;
}

.message-container {
    border: 0;
    padding: 0;
    background: transparent;
    display: flex;
    flex-direction: row;
}

.container-title-block {
    display: flex;
    align-items: flex-end;
    height: 34px;
}
.block-title {
    font-size: 32px;
    line-height: 24px;
    white-space: nowrap;
}
.block-actions {
    margin-left: auto;
    display: flex;
}

.block-actions > a {
    flex: 1 1 auto;
    margin: 0 2px;
}

.container-content-block {
    display: flex;
    flex-direction: column;
    margin-top: -8px;
}
.block-item {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    margin: 8px 0 0 0;
    width: 100%;
}

.item-title {
    border-radius: 16px;
    padding: 8px 16px 8px 0;
    float: right;
    width: 100%;
    background: #F8F0F0;
    color: #000;
    text-decoration: none;
    transition: 0.25s;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-title > span {
    margin: 0;
}
.item-title > span.item-name-title {
    margin: 0 8px;
}
.item-title > span.only-title {
    border-radius: 16px;
    margin: 0;
    padding: 8px 12px 8px 12px;
    background: #EEE1E3;
}

.item-title:hover {
    background: #EEE1E3;
    border-radius: 8px;
}

.item-actions {
    display: flex;
    flex-direction: row;
    margin: 0 4px;
    white-space: nowrap;
    border-radius: 32px;
}
.item-actions > .action-item {
    padding: 6px 12px;
}
.action-item:only-child {
    border-radius: 16px;
    padding-right: 16px;
}
.item-actions > .item-delete {
    padding: 8px 16px;
}


.header-title {
    font-weight: 700;
    text-decoration: none;
    color: #000;
    line-height: 36px;
    font-size: 40px;
}

.pagination {
    margin-left: auto;
    padding: 24px 4px 8px 0;
}
.page-padding {
    padding: 0 8px;
}

.search-block-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-p {
    width: auto;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 32px 0 0 32px;
    text-decoration: none;
    background: #EEE1E3;
}
.search-item {
    border-radius: 32px;
    background: #F8F0F0;
}
.search-block-item {
    display: flex;
    flex-direction: row;
    margin: 0px 8px 0 0;
    width: max-content;
}

.flex-column {
    flex-direction: column;
}
.form-as-p > p {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    border-radius: 32px;
    text-decoration: none;
    background: #EEE1E3;
    margin: 2px 0;
    width: 100%;
    border: 2px solid #EEE1E3;
}
.form-as-p > p > input,
.form-as-p > p > select {
    border-radius: 32px;
    width: max-content;
    padding: 6px 0 6px 8px;
    font-family: "Comfortaa";
    font-weight: 400;
    font-size: 16px;
    width: 100%;
}
.form-as-p > p > textarea {
    border: 0;
    border-radius: 32px;
    width: max-content;
    height: 20px;
    padding: 6px 0 6px 8px;
    font-family: "Comfortaa";
    font-weight: 400;
    font-size: 16px;
    width: 100%;
}
.form-as-p > p > label {
    padding: 6px 12px;
    white-space: nowrap;
}

/* OTHER */
.button-red {
    background: #FFD9E1;
    color: #551a1a;
    font-weight: 700;
}
.button-red:hover {
    background: #E0BFC6;
}
.button-green {
    background: #cce7cd;
    color: #1a551d;
    font-weight: 700;
}
.button-green:hover {
    background: #abd7ad;
}
.button-yellow {
    background: #FFDCBD;
    color: #55421a;
    font-weight: 700;
}
.button-yellow:hover {
    background: #E0C1A6;
}
.button-blue {
    background: #C4D7F9;
    color: #1a3a55;
    font-weight: 700;
}
.button-blue:hover {
    background: #a6bde0;
}

.item-actions.increase {
    border: 2px solid #CCE7CD;
    background: #F8F0F0;
}
.item-actions.increase > .action-item:first-child {
    font-weight: 700;
    color: #1a551d;
    background: #CCE7CD;
    border-radius: 32px;
}
.item-actions.spending {
    border: 2px solid #FFD9E1;
    background: #F8F0F0;
}
.item-actions.spending > .action-item:first-child {
    color: #551a1a;
    font-weight: 700;
    background: #FFD9E1;
    border-radius: 32px;
}

.p-l-8 {
    padding-left: 8px;
}
.m-r-4{
    margin-right: 4px;
}
.m-t-4{
    margin-top: 8px;
}
.m-l-auto {
    margin-left: auto;
}

.profile {
    display: flex;
    flex-direction: row;
}
.image_square {
    padding: 0 15px 0 0;
}

.image_square > img {
    object-fit: cover;
    width: 200px;
    border-radius: 16px;
}

.info {
    border-radius: 16px;
    background-color: #ffffff;
    padding: 5px 10px;
    width: calc(100% - 240px);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: 'Google Sans';
    font-size: 28px;
}

.info p:last-child {
    font-size: 20px;
}