<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}?version=6">
</head>
<body>
    <header class="header">
        <div class="container-title-block">
            <a class="block-title header-title" href="{% url 'home' %}">Goose</a>
            <div class="block-actions">
                {% if request.user.is_authenticated %}
                <a class="button-round button-yellow" href="{% url 'home' %}">Home</a>
                <a class="button-round button-blue m-l" href="{% url 'profile' request.user %}">Profile</a>
                <a class="button-round button-red m-l" href="{% url 'sign-out' %}">Sign&nbspOut</a>
                {% endif %}
            </div>
        </div>
    </header>
    <main>

    {% block content %}

    {% if messages %}
    <div class="container message-container">
        {% for message in messages %}
        <span class="message message_{{ message.tags }}">{{ message }}</span>
        {% endfor %}
    </div>
    {% endif %}

    {% if currencies %}
    <div class="container">
        <div class="container-title-block">
            <p class="block-title">Wallets: {{ wallets.count }}</p>
            <div class="block-actions">
                <a class="button-round button-green" href="{% url 'create-wallet' %}?next={{ request.path }}">Create&nbspWallet</a>
            </div>
        </div>
        <hr>
        <div class="container-content-block">
            {% for wallet in wallets %}
            <div class="block-item mobile-column">
                <a class="item-title" href="{% url 'wallet-page' wallet_pk=wallet.pk %}">
                    {{ wallet.title }}
                </a>
                <div class="item-actions">
                    <p class="button-round button-blue-c">{{ wallet.start_amount }} {{ wallet.currency.title }}</p>
                    <a class="button-round button-yellow m-l" href="{% url 'update-wallet' wallet_pk=wallet.pk %}?next={{ request.path }}">Update</a>
                    <a class="button-round button-red m-l" href="{% url 'delete-model' pk=wallet.pk model='wallet' %}?next={{ request.path }}">Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% if f_wallets %}
    <div class="container">
        <div class="container-title-block">
            <p class="block-title">Family Access Wallets</p>
        </div>
        <hr>
        <div class="container-content-block">
            {% for f_wallet in f_wallets %}
            <div class="block-item mobile-column">
                <a class="item-title" href="{% url 'wallet-page' wallet_pk=f_wallet.wallet.pk %}">
                    {{ f_wallet.wallet.user.username }} | {{ f_wallet.wallet.title }}
                </a>
                <p class="button-round button-blue-c">{{ f_wallet.wallet.start_amount }} {{ f_wallet.wallet.currency.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="container">
        <div class="container-title-block">
            <p class="block-title">Objectives: {{ objectives.count }}</p>
            <div class="block-actions">
                <a class="button-round button-green" href="{% url 'objective-create' %}?next={{ request.path }}">Create&nbspObjective</a>
            </div>
        </div>
        <hr>
        <div class="container-content-block">
            {% for objective in objectives %}
            <div class="block-item mobile-column">
                <a class="item-title" href="{% url 'objective-update' objective.pk %}?next={{ request.path }}">
                    {{ objective.title }}
                </a>
                <div class="item-actions">
                    <p class="button-round button-blue-c">{{objective.now_amount}}/{{objective.target_amount}} {{objective.currency.title}}</p>
                    <a class="button-round button-yellow m-l" href="{% url 'objective-transfer' pk=objective.pk %}?next={{ request.path }}">Transfer Money</a>
                    <a class="button-round button-red m-l" href="{% url 'delete-model' pk=objective.pk model='objective' %}?next={{ request.path }}">Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="container">
        <div class="container-title-block">
            <p class="block-title">Currencys</p>
            <div class="block-actions">
                <a class="button-round button-green" href="{% url 'create-currency' %}?next={{ request.path }}">Create&nbspCurrency</a>
            </div>
        </div>
        <hr>
        <div class="container-content-block">
            {% for currency in currencies %}
            <div class="block-item mobile-column">
                <a class="item-title" href="{% url 'update-currency' currency.pk %}?next={{ request.get_full_path|urlencode }}">
                    {{ currency.title }}
                </a>
                <div class="item-actions">
                    <a class="button-round button-red" href="{% url 'delete-model' pk=currency.pk model='currency' %}?next={{ request.get_full_path|urlencode }}">Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock content %}
    </main>

</body>
</html>