{% extends "home.html" %}
{% block title %}Sign In{% endblock %}
{% block content %}
    <div class="title_name_block">
        <p class="block-title">Sign In</p>
        <div class="actions">
            <a class="button_round" href="{% url 'sign-up' %}">Sign Up</a>

        </div>
    </div>
    <hr>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="button_round" type="submit" value="Sign In">
        </form>
    </div>
{% endblock %}