{% extends 'home.html' %}
{% block content %}
{% comment %}
  Logging page
{% endcomment %}
<div class="container">
    <div class="container-title-block">
        <p class="block-title">Logs</p>
        <div class="block-actions">
          <a class="button-round button-yellow" href="{{ go_next }}"
            >{{ button_title }}</a
          >
        </div>
      </div>
      <hr />
      <div class="container-content-title">
        {% for log in logs %}
        <div class="block-item mobile-column">
          <a
            class="item-title"
          >
            {{ log.message }}
          </a>
          <div class="item-actions">
            <a
              class="button-round button-{% if log.a_type == 'create' %}green{% elif log.a_type == 'delete' %}red{% elif log.a_type == 'update' %}yellow{% else %}blue{% endif %}"
              >{{ log.created_at }}</a
            >
          </div>
        </div>
        {% endfor %}
      </div>
</div>
{% endblock content %}