{% extends 'home.html' %}
<title>{{ page_title }}</title>
{% block content %}
    <div class="title_name_block">
        <p class="block-title">{{ page_title }}</p>
        <div class="actions">
            {% if button_url %}
            <a class="button_round" href="{% url button_url %}">{{ button_title }}</a>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="button_round" type="submit" value="Save">
        </form>
    </div>
{% endblock content %}