{% extends 'home.html' %}
<title>{{ page_title }}</title>
{% block content %}
<div class="container">
    {% if messages %}
    {% for message in messages %}
    <span class="message message_{{ message.tags }}">{{ message }}</span>
    {% endfor %}
    {% endif %}
</div>
    <div class="title_name_block">
        <p class="block-title">{{ page_title }}</p>
        <div class="actions">            
            {% if go_next %}
            <a class="button_round" href="{{ go_next }}">{{ button_title }}</a>
            {% endif %}
            {% if auth_check%}
            {% if auth_check == 1 %}
            <a class="button_round" href="{% url 'sign-up' %}">{{ button_title }}</a>
            {% else %}
            <a class="button_round" href="{% url 'sign-in' %}">{{ button_title }}</a>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="button_round" type="submit" value="Save">
        </form>
    </div>
{% endblock content %}