{% extends 'home.html' %}
{% block content %}
{% comment %}
  User profile page
{% endcomment %}
{% if messages %}
<div class="container message-container">
  {% comment %}
    Messages
  {% endcomment %}
  {% for message in messages %}
  <span class="message message_{{ message.tags }} no-wrap">{{ message }}</span>
  {% endfor %}
</div>
{% endif %}

<div class="container">
  {% comment %}
    User profile container
  {% endcomment %}
  <div class="container-title-block">
    <p class="block-title username-page">{{ profile.user.username }} profile</p>
    <div class="block-actions">
      {% if profile.user.username == request.user.username %}
      <a
        class="button-round button-blue"
        href="{% url 'profile-update' profile.user.username %}?next={{ request.get_full_path|urlencode }}"
        >Edit</a
      >
      <a
        class="button-round button-blue m-l"
        href="{% url 'logs' profile.user.username %}?next={{ request.get_full_path|urlencode }}"
        >Logs</a
      >
      {% endif %}
      <a class="button-round button-yellow m-l" href="{{ go_next }}"
        >Back</a
      >
    </div>
  </div>
  <hr />
  <div class="container-content-title profile">
    <div class="image_square">
      {% if profile.avatar %} {% load static %}
      <img src="{{ profile.avatar.url }}" alt="avatar" />
      {% endif %}
    </div>
    <div class="info">
      <p>{{ profile.first_name }} {{ profile.last_name }}</p>
      <p>{{ profile.email }}</p>
      <p>{{ profile.bio }}</p>
    </div>
  </div>
</div>

{% if profile.user.username == request.user.username %}
<form
  class="container"
  action="{% url 'search-user' %}?next={{ request.path }}"
  method="get"
>
  {% comment %} 
    Find user container
  {% endcomment %}
  <div class="container-title-block">
    <p class="block-title">Find user</p>
    <div class="block-actions">
      <div class="search-block-item">
        <p class="search-p">username</p>
        <input class="user-search" name="q_username" type="text" placeholder="Enter username..." />
      </div>
      <input class="button-round button-green m-l" type="submit" value="Search" />
    </div>
  </div>
</form>
{% endif %}
{% endblock content %}
