{% extends 'home.html' %}
{% block content %}
<div class="title_name_block">
    <p class="block-title">{{ profile.user.username }} profile</p>
    <div class="actions">
        {% if profile.user.username == request.user.username %}
        <a class="button_round" href="{% url 'profile-update' profile.user.username %}?next={{ request.get_full_path|urlencode }}">Update profile</a>
        {% endif %}
        <a class="button_round" href="{{ go_next }}">{{ button_title }}</a>
    </div>
</div>
<hr>
<div class="container profile">
    <div class="image_square">
        {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" alt="..."/>
        {% endif %}
    </div>
    <div class="info">
        <p>
            {{ profile.first_name }}
        </p>
        <p>
            {{ profile.last_name }}
        </p>
        <p>
            {{ profile.bio }}
        </p>
    </div>
</div>


<div class="container">
    {% if messages %}
    {% for message in messages %}
    <span class="message message_{{ message.tags }}">{{ message }}</span>
    {% endfor %}
    {% endif %}
</div>
{% endblock content %}