{% extends "home.html" %}
{% block title %}Search{% endblock %}
{% block content %}
    <div class="container">
        <p class="message">Amount of this period {{ total_amount }} BYN</p>
        {% if messages %}
        {% for message in messages %}
        <span class="message message_{{ message.tags }}">{{ message }}</span>
        {% endfor %}
        {% endif %}
    </div>
    <div class="title_name_block">
        {% if page_obj %}
            <p class="block-title">Results
            {% if q_from %}
                {%if q_to %}
                from {{ q_from }} to {{ q_to }}
                {% else %}
                from {{ q_from }}
                {% endif %}
            {% else %}
                {% if q_to %}
                to {{ q_to }}
                {% endif %}
            {% endif %}
            {% if q_category %}
                ({{ category_out.title }})</>
            {{ else }}
                </p>
            {% endif %}
        {% else %}
        <p class="block-title">No results</p>
        {% endif %}
        <div class="actions">
            <a class="button_round" href="{% url button_url b_u2 %}">{{ button_title }}</a>
        </div>
    </div>
    <hr>
    <div class="container">
        {% for action in page_obj %}
        <div class="card">
            <a class="name" href="{% url 'update-action' wallet.pk action.pk %}?next={{ request.get_full_path|urlencode }}">({{ action.category }}) {{ action.title }}</a>
            <div class="list">
                {% if action.action_type == 'increase' %}
                <p class="money increase">{{ action.money }} <span>BYN</span></p>
                {% else %}
                <p class="money spending">{{ action.money }} <span>BYN</span></p>
                {% endif %}
                <p class="date">{{ action.date }}</p>
                <a class="button_round delete" href="{% url 'delete-action' pk=action.pk model='action' %}?next={{ request.get_full_path|urlencode }}">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="container">
        {% if page_obj.has_other_pages %}
        <span class="pagination">
            {% if page_obj.has_previous %}
            <a href="?from={{ request.GET.from }}&to={{ request.GET.to }}&page=1" class="button_round">First</a>
            <a href="?from={{ request.GET.from }}&to={{ request.GET.to }}&page={{ page_obj.previous_page_number }}" class="button_round">&laquo;</a>
            {% endif %}
    
            <span>
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
    
            {% if page_obj.has_next %}
            <a href="?from={{ request.GET.from }}&to={{ request.GET.to }}&page={{ page_obj.next_page_number }}" class="button_round">&raquo;</a>
            <a href="?from={{ request.GET.from }}&to={{ request.GET.to }}&page={{ page_obj.paginator.num_pages }}" class="button_round">Last</a>
            {% endif %}
        </span>
        {% endif %}
    </div>

    {% if page_obj %}
    <div class="title_name_block">
        <p class="block-title">Download actions</p>
    </div>
    <hr>
    <div class="container">
        <a class="button_round" href="{% url 'download' wallet.pk %}?from={{ request.GET.from }}&to={{ request.GET.to }}&category={{ request.GET.category }}">Download searched actions as JSON</a>
    </div>
    {% endif %}
{% endblock %}